@font-face {
  font-family: "roboto-bold";
  src: local("Roboto_SemiCondensed-SemiBold"),
    url("./fonts/Roboto_SemiCondensed-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "productsans-regular";
  src: local("ProductSans-Regular"),
    url("./fonts/ProductSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "productsans-light";
  src: local("ProductSans-Light"),
    url("./fonts/ProductSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "productsans-bold";
  src: local("ProductSans-Bold"),
    url("./fonts/ProductSans-Bold.ttf") format("truetype");
}
